<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark blue-grey fixed-top" [containerInside]="false">
    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand animate__animated animate__pulse animate__slow animate__infinite" target="blank" href="https://twitter.com/dylut2000?lang=en">#Dylut2000</a>
    </mdb-navbar-brand>

    <!-- Collapsible content -->
    <links>
        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <!-- Dropdown -->
            <li class="nav-item dropdown" dropdown>
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light"
                    mdbWavesEffect>
                    dropdown demo <span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" mdbWavesEffect>Action</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect>Another action</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect>Something else here</a>
                    <div class="divider dropdown-divider"></div>
                    <a class="dropdown-item waves-light" mdbWavesEffect>Separated link</a>
                </div>
            </li>
        </ul>
        <!-- Links -->

        <ul class="navbar-nav ml-auto nav-flex-icons">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link waves-light" routerLink="/home" mdbWavesEffect>Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link waves-light" routerLink="/test" mdbWavesEffect>Test</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" target="blank" href="https://twitter.com/dylut2000?lang=en">
                    <mdb-icon fab icon="twitter"></mdb-icon>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" target="blank" href="https://github.com/dylut2000">
                    <mdb-icon fab icon="github"></mdb-icon>
                </a>
            </li>


            <!--uncomment the following to see a user icon dropdown, helpful for user authentication-->
            <!-- <li class="nav-item">
                <a class="nav-link">
                    <div class="btn-group" mdbDropdown>
                        <mdb-icon fas icon="user" mdbDropdownToggle></mdb-icon>
                        <div class="dropdown-menu dropdown-menu-right dropdown-primary">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                            <div class="divider dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Separated link</a>
                        </div>
                    </div>
                </a>
            </li> -->


        </ul>
    </links>
    <!-- Collapsible content -->
</mdb-navbar>
<!--/.Navbar-->


<!--just adding empty space after the navbar, u can edit this with css or remove it with the class of "fixed-top" in the second line-->
<br><br>