<div class="container">
  <mdb-card style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/Others/gradient1.jpg');">
    <div class="text-white text-center py-5 px-4 my-5">
      <div>
        <h2 class="card-title h1-responsive pt-3 mb-5 font-bold"><strong>Create your web with Dylut2000 MDBootstrap</strong></h2>
        <p class="mx-5 mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam,
          voluptatem,
          optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos. Odit sed qui,
          dolorum!
        </p>
        <h5>Check the README.md file, you might find some few links that might helps</h5>
        <a mdbBtn color="white" outline="true" class="mt-5 waves-light animate__animated animate__fadeInDown animate__infinite" mdbWavesEffect>
          <mdb-icon fas icon="clone" class="left"></mdb-icon>View project
        </a>
      </div>
    </div>
  </mdb-card>


</div>
