<div
    style="height: 95vh; background-image: url('../../../assets/images/bg1.jpeg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <div class="flex-center flex-column">
        <h2 class="h1-responsive animate__animated animate__bounce">Home page</h2>
        <br />
        <small>The
            <a href="https://angular.io/docs" target="blank">Angular 9</a> Startup
            template has:
        </small>
        <small>
            <a href="https://mdbootstrap.com/docs/angular/" target="blank">Mdbootstrap</a>
            | <a href="https://animate.style/" target="blank">Animate CSS</a> | <a href="https://lodash.com/" target="blank">Lodash</a>
        </small>
        <small>      
            Route to Test and Home component set
        </small>
        <small>
             HttpClientModule + FormsModule already imported at the app.module
        </small>

        <a href="https://github.com/dylut2000/MDBootstrapAngular9" target="blank" class="mt-5 animate__animated animate__fadeInDown animate__delay-3s">Add a star to this Project in Github</a>
    </div>
</div>